<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults | async">
    <mat-spinner></mat-spinner>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="beans" class="example-table">
      <!-- No Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Blend Name Column -->
      <ng-container matColumnDef="blend_name">
        <th mat-header-cell *matHeaderCellDef>Blend Name</th>
        <td mat-cell *matCellDef="let row">{{row.blend_name}}</td>
      </ng-container>

      <!-- Intensifier Column -->
      <ng-container matColumnDef="intensifier">
        <th mat-header-cell *matHeaderCellDef>Intensifier</th>
        <td mat-cell *matCellDef="let row">{{row.intensifier}}</td>
      </ng-container>
      <ng-container matColumnDef="variety">
        <th mat-header-cell *matHeaderCellDef>Variety</th>
        <td mat-cell *matCellDef="let row">{{row.variety}}</td>
      </ng-container>
      <!-- View Details Button Column-->
      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="viewDetails(row.id)">View Details</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of beans"></mat-paginator>
</div>
